<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Issues</title>
</head>
<body>
<h1> Список выдачи книг: </h1>
<table>
    <tr>
        <th>ID</th>
        <th>ID Читателя</th>
        <th>Имя читателя</th>
        <th>ID Книги</th>
        <th>Название книги</th>
        <th>Выдана</th>
        <th>Возвращена</th>
    </tr>
    <tr th:each="issue:${issues}">
        <td th:text="${issue.getId()}"></td>
        <td><a th:href="@{/ui/issue/reader/{id}(id=${issue.getReaderId()})}" th:text="${issue.getReaderId()}"></a></td>
        <td th:text="${issue.getReaderName()}"></td>
        <td><a th:href="@{/ui/book/{id}(id=${issue.getBookId()})}" th:text="${issue.getBookId()}"></a></td>
        <td th:text="${issue.getBookName()}"></td>
        <td th:text="${issue.getIssuedAt()}"></td>
        <td th:text="${issue.getReturnedAt()}"></td>
    </tr>
</table>

</body>
</html>