<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reader info</title>
</head>
<body>
<h1> Информация о читателе: </h1>
<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Название книги</th>
    </tr>
    <tr th:each="reader:${readerById}">
        <td th:text="${reader.getReaderId()}"></td>
        <td th:text="${reader.getReaderName()}"></td>
        <td th:text="${reader.getBookName()}"></td>
    </tr>
</table>

</body>
</html>